extends layout

block content
  div.main
    if categories.length
      h1.all-categories-header All categories
      h3.count #{numberOfItems} items in #{numberOfCategories} categories
      div.category-cards
        each category in categories
          a(href=category.url)
            div.card
              div.image-container
                if category.image
                  img(src=category.image, alt=category.name)
                else 
                  img(src='/images/default.jpg', alt='Default image')
              div.card-text
                p #{category.name} 
    else
      p There are no categories.
